.icon {
    width: 300px;
    margin: auto;
}

#Authentication {
    margin: 0 auto;
    width: 900px;
}

#Authentication .login-cover {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#Authentication .col-left {
    width: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#Authentication .col-right {
    padding: 60px 80px;
    font-size: 2rem;
    width: 60%;
    border: 1px solid var(--btn-hover-color);
}

#Authentication .item {
    margin-bottom: 24px;
    position: relative;
}

#Authentication .login-header {
    font-weight: 500;
}

#Authentication .already-register {
    font-size: 1.5rem;
}

#Authentication .input {
    width: 100%;
    font-size: 1.3rem;
    margin-bottom: 12px;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #d9d9d9;
    outline: none;
}

#Authentication .forgot {
    font-size: 1.3rem;
    text-align: right;
}

#Authentication .btn-login {
    width: 100%;
    padding: 12px 15px;
    background-color: var(--black-color);
    font-size: 1.5rem;
}

#Authentication .question {
    margin-bottom: 8px;
    font-size: 1.5rem;
}

#Authentication .vendor-login {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary-color);
}

.register {
    color: var(--primary-color);
}

.btn-login-google {
    background-color: #4185f4 !important;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.btn-login-google * {
    display: inline-block;
}

.btn-login-google img {
    width: 40px;
    height: 40px;
    padding: 1px;
    background-color: var(--white-color);
    position: relative;
    margin-left: 12px;
}

.google {
    width: 72%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-align: center;
    font-size: 1.5rem !important;
    font-weight: 500;
    color: var(--white-color);
}

#Authentication .error-message {
    color: red;
    font-size: 1.2rem;
}