#Landing {
    position: relative;
}

#Landing .row {
    display: flex;
    flex-wrap: nowrap;
}

#Landing .col-haft {
    width: 50%;
}

#Landing .col-haft img {
    width: 100%;
    height: 100%;
}

#Landing .cover-search {
    display: flex;
    align-items: center;
    padding-left: 6%;
    border-bottom: 1px solid #d9d9d9;
}

#Landing .landing-search {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: left;
}

#Landing .header-search {
    color: var(--primary-color);
    font-size: 3.5rem;
    width: 100%;
}

#Landing .description-search {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 24px 0;
}

#Landing .search-container {
    width: 100%;
    display: flex;
}

#Landing .search {
    padding: 16px;
    display: flex;
    align-items: center;
    border: 1px solid #d9d9d9;
    font-size: 2rem;
    border-right: none;
}

#Landing .search div {
    display: flex;
    color: var(--btn-hover-color);
    align-items: center;
}

#Landing .input {
    margin-top: 8px;
    margin-left: 12px;
    font-size: 1.8rem;
    outline: none;
    border: none;
}

#Landing .btn-search {
    width: 15%;
    background-color: var(--primary-color);
    font-size: 1.5rem;
    border-radius: 0 1rem 1rem 0;
}

#Landing .btn-search:hover {
    background-color: var(--btn-hover-color);
}