#ServiceDetail {
    margin: 5% 0;
    padding: 0 20%;
}

#ServiceDetail .container {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

#ServiceDetail .images-container,
#ServiceDetail .service-information {
    padding: 16px;
    /* Just for some inner spacing */
    text-align: center;
    /* Center the text */
}

#ServiceDetail .images-container {
    box-shadow: 0 3px 13px 0 rgba(32, 40, 49, 0.1);
    flex: 0.8;
}

#ServiceDetail .service-information {
    padding: 0 32px;
    flex: 1;
}

#ServiceDetail .information-container {
    text-align: left;
    font-size: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#ServiceDetail .header {
    text-align: center;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 1.2;
    letter-spacing: 0.05em;
    margin-bottom: 12px;
    color: var(--primary-color);
}

.description-header {
    color: var(--primary-color);
    margin: 32px 0 12px;
}

#ServiceDetail .service-price {
    display: inline-block;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    padding: 2px 8px;
    align-self: center;
    margin: 8px 0 32px;
}

#ServiceDetail .service-price:hover {
    cursor: pointer;
    border: 1px solid var(--btn-hover-color);
    color: var(--btn-hover-color);
}

#ServiceDetail .edit {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#ServiceDetail .btn-edit-service {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: none !important;
    box-shadow: 0 3px 13px 0 rgba(32, 40, 49, 0.1);
    padding: 8px 24px;
    border-radius: 5px;
    margin-left: 12px;
}

#ServiceDetail .promotion {
    text-align: center;
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 700;
}