.inactive-chip {
  border-radius: 0.3rem;
  background: #ffcaca;
  color: red;
  width: 50px;
  font-weight: 600;
  padding: 3px 10px;
  border: solid 1px red;
}

.active-chip {
  border-radius: 0.3rem;
  background: #abffdc;
  color: green;
  font-weight: 600;
  padding: 3px 10px;
  border: solid 1px green;
}

.pending-chip {
  border-radius: 0.3rem;
  background: #ffffbb;
  color: #cece22;
  width: 100px;
  font-weight: 600;
  padding: 3px 10px;
  border: solid 1px #cece22;
}

.primary-color {
  color: var(--primary-color);
}
